<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>

        <h1> IRIS FLOWER DETECTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Pregnancies :  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Glucose :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Blood Pressure :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            Skin Thickness :  <input type="text", name='d', placeholder="enter 3"> <br><br>
            Insulin :  <input type="text", name='e', placeholder="enter 3"> <br><br>
            BMI :  <input type="text", name='f', placeholder="enter 3"> <br><br>
            Diabetes Pedigree Function :  <input type="text", name='g', placeholder="enter 3"> <br><br>
            Age : <input type="text", name='h', placeholder="enter 4"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        
        
    </center>
    
</body>
</html>